<% content_for :title, "Editing order" %>

<h1>Editing order</h1>

<%= render "form", order: @order %>

<br>

<div>
  <%= link_to "Show this order", admins_orders_path(@order) %> |
  <%= link_to "Back to orders", admins_orders_path %>
</div>
