<p style="color: green"><%= notice %></p>

<% content_for :title, "Orders" %>

<h1>Orders</h1>

<div id="orders">
  <% @orders.each do |order| %>
    <%= render order %>
    <p>
      <%= link_to "Show this order", admins_orders_path(order) %>
    </p>
  <% end %>
</div>

<%= link_to "New order", new_admins_order_path %>
